{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Home</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <h2>Form for calculating loan payments</h2>
            <div class="card">
                <div class="card-body">

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-primary">Create</button>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>

    {% if result %}
        {% for key,year in result %}
            <div class="card">
                <div class="card-header">
                    Year #{{ (key + 1) }}
                </div>
                <table class="table table-bordered table-hover mb-0">
                    <thead>
                    <tr>
                        <th>Month</th>
                        <th>Payment</th>
                        <th>Main Debt</th>
                        <th>Percents</th>
                        <th>Debt %</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in year %}

                        <tr>
                            <td>{{ data.month }}</td>
                            <td>
                                {{ data.payment }}
                            </td>
                            <td>
                                {{ data.debt }}
                            </td>
                            <td>
                                {{ data.percents }}
                            </td>
                            <td>
                                {{ data.debtPercent }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}